/* header.css */
.nav-link-hover:hover,
.dropdown-item-hover:hover {
  background-color: rgba(0, 123, 255, 0.1);
  color: #0d6efd !important;
  border-radius: 8px;
  transition: all 0.2s ease-in-out;
}

.search-container input:focus {
  outline: none;
  box-shadow: none;
}

.dropdown-item-hover i {
  color: #0d6efd;
}

.announcement-bar {
  font-size: 0.9rem;
  letter-spacing: 0.4px;
}

.main-navbar {
  transition: all 0.3s ease;
}

.main-navbar:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}
